<%- model_class = Part -%>
<div class="page-header">
  <h1 class="pull-left"><%=t '.title', :default => model_class.model_name.human %></h1>
  <div class="btn-group pull-right">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                parts_path, :class => 'btn'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_part_path(@part), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                part_path(@part),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  </div>
  <div class="clearfix"></div>
</div>

<div class="form-horizontal">
  <%= fields_for @part do |f| %>
    <div class="row">
      <div class="span6">
        <div class="control-group">
          <%= f.label :title, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :title, :class => 'span4 text_field', :disabled => true %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :description, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area :description, :class => 'span4 text_area', :rows => 5, :disabled => true %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :ncm, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :ncm, :class => 'span4 text_field', :disabled => true %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :place, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :place, :class => 'span4 text_field', :disabled => true %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :amount, :class => 'control-label' %>
          <div class="controls">
            <%= f.number_field :amount, :class => 'span4 number_field', :disabled => true %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :last_price, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :last_price, :class => 'span4 text_field', :disabled => true %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :last_volume, :class => 'control-label' %>
          <div class="controls">
            <%= f.number_field :last_volume, :class => 'span4 number_field', :disabled => true %>
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="vendors-parts well">
          <legend>
            <%=t('activerecord.models.vendor') %>s
            e seus <%=t('activerecord.models.vendor_parts.part_number') %>s
          </legend>
          <%= f.fields_for :vendor_parts do |vp| %>
            <%= render :partial => "vendor_parts_fields", :locals => { :f => vp, :vendor => Vendor.find(vp.object.vendor_id).name, :disabled => true } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
