<%= form_for(@vendor_part) do |f| %>
  <% if @vendor_part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor_part.errors.count, "error") %> prohibited this vendor_part from being saved:</h2>

      <ul>
      <% @vendor_part.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vendor %><br />
    <%= f.text_field :vendor %>
  </div>
  <div class="field">
    <%= f.label :part %><br />
    <%= f.text_field :part %>
  </div>
  <div class="field">
    <%= f.label :part_number %><br />
    <%= f.text_field :part_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
